{% comment %} Globals {% endcomment %}
{% comment %} {% include 'globals' %} {% endcomment %}

{% comment %} <!doctype html>
<html lang="{{ shop.locale }}">
<head>
  {% include 'meta' %}
  {% include 'social-meta-tags' %}
  {% include 'favicon' %}
  {% include 'google-site-verification' %}
  
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}
</head>

<body>

  <main role="main">
    {% section 'page-password' %}
    {{ content_for_layout }}
  </main>

</body>
</html> {% endcomment %}

{%- unless shop.password_message == blank -%}
  {{ shop.password_message }}
{%- endunless -%}

{%- if section.settings.newsletter_enable -%}
  {%- form 'customer', id: 'ContactPassword' -%}
     <h2>{{ section.settings.newsletter_form_heading | escape }}</h2>

     {%- if section.settings.newsletter_form_subheading != blank -%}
       <p>{{ section.settings.newsletter_form_subheading }}</p>
     {%- endif -%}

     <!-- Code for newsletter form -->

  {%- endform -%}
{%- endif -%}

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Newsletter Signup zeigen",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Be the first to know when we launch."
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": "Subheading",
      "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter placeholder text",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter button text",
      "default": "Notify me"
    }
  ]
}
{% endschema %}