{% comment %} Product card {% endcomment %}
<div class="productCard">
  {% assign titleDetails = product.title | split: " - " %}
  {% assign productName = titleDetails[0] | strip %}
  {% assign productColor = titleDetails[1] | strip %}
  {% assign productSize = titleDetails[2] | strip %}

  <div class="productCard_img_wrapper" style="background-image: url('{{ product.featured_image | image_url: width:nil }}')">
    {% if product.featured_image %}
      <img src="{{ product.featured_image | image_url: width:nil }}" alt="{{ productName }}" class="product_image" style="display: none;">
    {% else %}
      <img src="{{ 'placeholder-image.png' | asset_url }}" alt="Placeholder Image" class="product_image" style="display: none;">
    {% endif %}

    <a href="#" class="add_to_cart" product_id="{{ product.id }}" onclick="addToCart()">
     <img src="{{ 'icon-shopping-cart.png' | asset_img_url }}" alt="Add to Cart" class="cart_icon">
    </a>
  </div>

  <h1>{{ productName }}</h1>
  <p>{{ product.description | strip_html | truncate: 100 }}</p>
</div>